<div style="float:right;">
	<%@page=@page.to_i
	@count=@count.to_i%>
	<%if @page>1%>
		<%if controller_name=="home"%>
			<%=link_to "<<Previous<<",home_home_page_path(page: @page-1),method: :get,remote: true%>
		<%else%>
			<%=link_to "<<Previous<<",manage_projects_projects_path(page: @page-1),method: :get,remote: true%>
		<%end%>
		<b>|</b>
	<%end%>
	<b>Page: <%=@page%></b>
	<%if (@page*10)<@count%>
		<b>|</b>
		<%if controller_name=="home"%>
			<%=link_to ">>Next>>",home_home_page_path(page: @page+1),method: :get,remote: true%>
		<%else%>
			<%=link_to ">>Next>>",manage_projects_projects_path(page: @page+1),method: :get,remote: true%>
		<%end%>
	<%end%>
</div>