<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag asset_path('favicon.jpg'), :rel => 'icon', :type =>  'image/jpg' %>
  <title>ProjectLifecycleManager</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<%if current_user%>
<body id="page-top">
  <%= render partial:"shared/navbar.html.erb"%>
  <div id="wrapper">
    <!-- Sidebar -->
    <%= render partial:"shared/sidebar.html.erb"%>
    <div id="content-wrapper">      
      <!-- /.container-fluid -->
        <%= yield %> 
      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span><%=Platipus::Renderer.copyright 'Dhruv Raj', 'All rights reserved'%></span>
          </div>
        </div>
      </footer>
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
</body>
<%else%>
  <body class="bg-dark" style="background-image: url('<%=asset_path('index_page_bckgrnd.png')%>') ;background-repeat: no-repeat;background-size: 70% 100%; background-position: 40%;">

  <div class="container">
      <%= yield %> 
  </div>

</body>
<%end%>
</html>
